version = 0.1

[dev.deploy.parameters]
stack_name = "autoscaler-dev"
region = "us-east-2"
parameter_overrides = "GitHubPATSecretName=my-dev-secret ExtraRunnerLabels=dev ImageId=ami-1234567890 SubnetId=subnet-123456 SecurityGroupIds=sg-123456 KeyName=dev-key"

[prod.deploy.parameters]
stack_name = "autoscaler-prod"
region = "us-east-2"
parameter_overrides = "GitHubPATSecretName=my-prod-secret ExtraRunnerLabels=prod ImageId=ami-abcdef0123 SubnetId=subnet-abcdef SecurityGroupIds=sg-abcdef KeyName=prod-key"
